:root {
  --cor-texto: #818181;
  --cor-titulo: #978d85;
  --cor-fundo: #111;
  --cor-borda: #ddd;
  --cor-destaque: #0066cc;
  --cor-erro: #b00020;

  --fonte-principal: Arial, Helvetica, sans-serif;

  font-family: var(--fonte-principal);

  color: var(--cor-texto);
  background-color: var(--cor-fundo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  box-sizing: border-box;
}
html {
  width: 100%;
  min-height: 100%;
}
body {
  margin: 0;

  width: 100%;
  min-height: 100vh;

  font-family: var(--fonte-principal);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}
/* --------------------------------------*/
#root {
  width: 100%;
  min-height: 100vh;
}
/* ------------------------------------- */
h1 {
  color: var(--cor-titulo);
}
h2,
h3 {
  color: #495152;
}
h1,
h2,
h3,
p {
  margin-top: 0;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input {
  font: inherit;
}
/* ------------------------------------ */
:focus-visible {
  outline: 3px solid var(--cor-destaque);
  outline-offset: 3px;
}
/* ------------------------------------ */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
