.item-carrinho {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 15px;
  gap: 20px;
  margin-bottom: 12px;
  border: 1px solid #00c13d;
  border-radius: 8px;
}
.item-carrinho-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 0;
  align-items: flex-start;
}
.itens-conteiner {
  display: flex;
  align-items: center;
}
.conteiner-img {
  width: 110px;
  height: 110px;
}
.item-carrinho-info h2 {
  margin: 0;
  font-size: 18px;
  overflow-wrap: anywhere;
  color: #5317a1;
}
.item-carrinho-info p {
  margin: 0;
  color: #666;
}
.item-carrinho-info span,
.item-carrinho-valores span {
  font-weight: 600;
}
.item-carrinho-valores {
  text-align: right;
  flex-shrink: 0;
  align-items: flex-end;
}
.item-carrinho-valores p {
  margin: 4px 0;
  font-size: 14px;
}
.item-carrinho-valores p:last-child {
  color: #0dc340;
  font-weight: bold;
}
/* ------------------------------------ */
@media (max-width: 600px) {
  .item-carrinho {
    flex-direction: column;
    align-items: center;
  }
  .item-carrinho-info {
    align-items: center;
  }
  .item-carrinho-valores {
    width: 100%;
    text-align: center;
  }
}
